extends layout
block link
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
block content
    div.header
        div.header_box
            h1.header_title Professor's Ears are Donkey Ears

        if loggedInUser
            div.loggedIn_menu
                span.header_menu
                    a(href="/logout") Log out
                div.header_box
                    a(href="/user-profile")
                        i.fas.fa-user

        else
            div
                span.header_menu
                    a(href="/login") Login
                span.header_menu
                    a(href="/join") Join
    div
        h1.message-title See all messages
        ul.messages
            if messages
                each message in messages
                    li.message
                        span
                            a(href=`message/${message._id}`)=message.title
                        span Open-day: #{message.openDate.toISOString().slice(0, 10)}
                else
                    li There is no message
    nav.nav
        ul.nav-bar
            li.nav-bar_icon
                a(href="/menu")
                    i.fas.fa-bars
            li.nav-bar_icon
                a(href="/message/write")
                    i.fas.fa-envelope
            li.nav-bar_icon
                a(href="/")
                    i.fas.fa-home
            li.nav-bar_icon
                a(href="/message/edit")
                    i.fas.fa-edit
            li.nav-bar_icon
                a(href="/search")
                    i.fas.fa-search

    